body{font-family: Arial, Helvetica, sans-serif;
background: rgb(211, 204, 142) ;
padding: 5px;

}

.menu{
    list-style: none;
    padding: 10;
    background:none ;
    width: 90%;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20% ;
    display: block;

}

.menu li{
    display: inline-block;
    text-align: center;

}

h2{
text-align: left;
color:rgb(0, 0, 0);
padding-left: 5;
font-size:x-larges ;
padding-top: 3px ;}

.pie-pagina {
    color: rgb(7, 7, 7);
    padding-left: 10px;
    padding-top: 5%;
    text-align: left;
font-family:Arial, Helvetica, sans-serif
}

.img{
    padding-left: 20px;
    padding-top: 15px;
}

iframe{
    width: 400px;
    height: 430px;
    padding: 40px;
}

